body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#root{
    width: 500px;
    background-color: rgb(180, 188, 129);
    text-align: center;
    padding: 20px 0px;
}

button{
    width: 70px;
    height: 30px;
    margin-left: 10px;
}